
/* 下面这三行代码，可以情况元素默认样式，避免发生冲突 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;

    /* 超出屏幕的内容，隐藏掉 */
    overflow: hidden;
    /* 设置网页元素不可选中 */
    user-select: none;
}

.snow{
    color: #ffffff;
    position: absolute;  /* 绝对定位 */
    top: 0px;  /* 雪花初始y坐标 */
    cursor: pointer;
}

.bg-video{
    width: 100%;
    height: 100vh;
    object-fit: cover;  /* 自适应窗口大小并铺满 */
    /* 给视频添加滤镜 brightness亮度 blur高斯模糊  */
    filter: brightness(0.7) blur(2px);
}

#switchBtn{
    position: fixed;
    right: 20px;
    top: 20px;

    padding: 8px 14px;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.3);

    cursor: pointer;
}

#musicBtn{
    position: fixed;
    right: 20px;
    top: 70px;

    padding: 8px 14px;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.3);

    cursor: pointer;
}

#switchBtn:hover,
#musicBtn:hover{
    background-color: rgba(255, 255, 255, 0.3);
}



